
						<div class="table-responsive">
							<table id="userList" class="table table-bordered table-hover table-striped">
								<thead class="thead-light">
								<tr>
									<th scope="col">#</th>
									<th scope="col">Detalle</th>
									<th scope="col">Numero</th>									
									<th></th>
								</tr>
								</thead>
								<tbody>
								<tr th:each="cuenta: ${cuentaList}">									
									<td th:text="${cuenta.id}"></td>
									<td th:text="${cuenta.detalle}"></td>
									<td th:text="${cuenta.numero}"></td>									
									<td>
										<a href="#"><i class="fas fa-edit"></i></a> | <a href="#"><i class="fas fa-user-times"></i></a>
									</td>
								</tr>
								</tbody>
							</table>
						</div>

				